<html>
  <header>
    <title>IsMajor App</title>
  </header>
  <body>
    <h2>Informe sua idade:</h2>
    <form action='/check' method='POST'>
      <input name='age'/>
      <button type='submit'>Verificar</button>
    </form>
  </body>
</html>
